.footer-cont {
  background-color: var(--footer-bg);
  padding-left: 40px;
  padding-right: 40px;
}

.footer-cpright {
  background-color: var(--footer-bg);
}

.footer-logo {
  width: 135px;
  margin-right: 50px;
}

.footer-contacts {
  margin: auto;
  flex: 1;
}

.social-link {
  text-decoration: none;
  color: var(--fg);
}

.footer-items {
  font-size: 0.8rem;
}

.footer-br {
  font-size: 2.5rem;
}

@media (max-width: 600px) {
  .footer-logo {
    width: 100px;
  }
  .footer-br {
    font-size: 2rem;
  }
  .footer-cont {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 300px) {
  .footer-logo {
    width: 80px;
  }
  .footer-br {
    font-size: 1.5rem;
  }
  .footer-cont {
    padding-left: 10px;
    padding-right: 10px;
  }
}
