.footer-cont {
  background-color: var(--footer-bg);
  padding-left: 40px;
  padding-right: 40px;
}

.footer-cpright {
  background-color: var(--footer-bg);
}

.footer-logo {
  width: 135px;
  margin-right: 50px;
}

.footer-contacts {
  margin: auto;
  flex: 1;
}

.social-link{
  text-decoration: none;
  color: var(--fg);
}

