.navbar {
  padding-left: 40px !important;
  padding-right: 40px !important;
  box-shadow: none !important;
}

.navbar-label {
  color: var(--bg);
}

.navbar-upper {
  background-color: var(--fg) !important;
}

.navbar-upper-row {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

/* .navbar-upper-brand,
.navbar-upper-imp {
  background-color: #ebdbb2 !important;
  color: var(--fg) !important;
} */

/* .navbar-upper-blog {
  margin-left: 5px;
} */

.navbar-light {
  background-color: var(--bg) !important;
}

.dropdown-menu {
  border-radius: 0 !important;
}

.dropdown-menu-end {
  margin-bottom: 10px !important;
  align-items: self-start;
}

